.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

.git/
.gitignore

data/uploads/*
data/processed/*
data/vector_store/*
data/sample_invoices/*
data/documents.json

notebooks/
.env
.idea/
.vscode/